/* Hola de estilos para la página principal */

section {
    margin: 1.5em 0;
    padding: 1em;
}

section h2 {
    font-size: 2em;
    color: brown;
    text-align: center;
}

/* Disposición de cada artículo */
article {
    display: flex;
    flex: column;
    justify-content: center;
    margin: 1em;
    border-bottom: 5px coral solid;
}

/* Textos de cada artículo */
.articulo {
    display: flex;
    flex-direction: column;
}

.articulo p {
    margin: 1em;
    font-size: 14px;
}

/* Especificaciones de las imágenes */
#img {
    margin-bottom: 0.5em;
    width: 450px;
    height: 325px;
    border-radius: 5px;
    box-shadow: 5px gray;
}

/* Tamaño y estilo de la letra */
h3 {
    font-size: 18px;
    color: brown;
}